body{
    background-color: peachpuff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: honeydew;
}
a{
    color: rgb(205, 90, 90);
}
nav ul{
    background-color: burlywood;
    border: 2px dashed seashell;
    border-radius: 10px;
    padding: 20px;
}
nav ul li{
    list-style-type:circle;
    display: inline;
    color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}
nav ul li a{
    color: olivedrab;
    text-decoration: none;
}
img{
    border-radius: 10px;
    
}
iframe{
    position: absolute;
    width: 100%;
    height: 50%;
}
table,td,th{
    border: 1px double floralwhite;
    border-collapse: collapse;
}
tr{
    background-color: sandybrown;
}
td,th{
    vertical-align: top;
    text-align: center;
    padding: 10px;
    color: aquamarine;
}